<!DOCTYPE html>
<html lang="en">

<%- include('templates/header', {titulo: "Pagina Usuario"}) %>


    <body>
        <%- include('templates/menu') %>


            <h1>Bienvenido Usuario</h1>
    </body>

</html>