<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= titulo %> - Sistema Base de Login y Register</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/toastr.min.css">

    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/toastr.min.js"></script>
    <script src="/static/js/bootbox.min.js"></script>
    <script src="/static/js/moment-with-locales.min.js"></script>


    <script>
        $(document).ready(function() {

            moment.locale("es");

            toastr.options = {
                "closeButton": true,
                "progressBar": true,
            }

            bootbox.addLocale("pancho", {
                OK: 'Aceptar',
                CANCEL: 'Cancelar',
                CONFIRM: 'Confirmar'
            });

            <% for (let error of errors) { %>
            toastr.error("<%= error %>", "Error");
            <% } %>

            <% for (let mensaje of mensajes) { %>
            toastr.success("<%= mensaje %>", "Mensaje del Sistema");
            <% } %>


        });
    </script>

</head>